li {
  list-style: none;
}
.Navlinks {
  display: flex;
  gap: 1rem;
}
.button-link {
  padding: 0 1rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.125rem;
  cursor: pointer;
  transition: background 0.4s;
}

.button-link:hover {
  color: #f84e2b;
  border-bottom: 2px solid #f84e2b;
}
